@import "static";
@import "header";
@import "home";
@import "animation";
@import "work";
@import "timeline";
@import "service";
@import "testimonial";
@import "contact";
@import "footer";
@import "mediaquery";
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    transition: .5s ease;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    background-color: $color1;
    overflow-x: hidden;
}

.disableBtn {
    background-color: rgb(237, 2237, 237);
    cursor: not-allowed;
}